<h2>Log In</h2>
<form method="POST">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Username">

    <label for="input-password">Password</label>
    <input type="password" id="input-password" name="password" placeholder="Password">

    <button>Log In</button>

</form>