<h2>Main User's Space</h2>
{{#if user}}
<img src="/images/funnyCat.jpg" alt="A very surprised cat">
{{else}}
<h5>You don't have permission to be here - please log in!</h5>
{{/if}}
<br>
<button><a href="/">Take me Home</a></button>