<h2>Private Space for authenticated Users ONLY</h2>

{{#if user}}
<iframe src="https://giphy.com/embed/edTOtOArMY3KCPOTWG" width="378" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thedodo-cute-the-dodo-alpaca-edTOtOArMY3KCPOTWG">via GIPHY</a></p>
{{else}}
<h5>You don't have permission to be here- please log in!</h5>
{{/if}}
<br>
<button><a href="/">Take me Home</a></button>
